@charset "UTF-8";


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}



body{
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-family: "Lora",Arial, Helvetica, sans-serif  serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 18px;
  
  }

body>p{
  padding: 10px 10px 0px 10px;
  margin-left: 30px; margin-right: 30px;
      }
   
img{
  width: 100px;
  height: 70px;
   }
picture{
  width: 100px;
}
    
a{
  color:rgb(0, 0, 0);
  text-decoration:solid;
  text-shadow: 10px;
  text-decoration-color: black;
  border: 10px;        
  }
span{
  background-color:transparent;
  margin-top: 10px;
  border: 3px rgb(0, 51, 194) solid;
  border-radius: 20px;
  text-align: center;
  margin: 10px; 
  transition: 0.3s ease; 
  color: rgb(0, 0, 0);   
    }

span:hover{
  background-color: rgba(218, 217, 217, 0.714);
  color: black;
          }

a:hover{ 
  color:black;
  animation: infinite;
  animation-duration: 5s;
  animation-delay: 5s;
  transition: 0.3s ease;
  transform: scale(1.05);
       }

a#my{
  color: rgb(0, 251, 255)
    }

a#my:hover{
  background-color: rgba(255, 255, 255, 0.549);
  border-radius: 3px 3px 1px 0px ;
          }

a#fb:hover{
  background-color:rgb(21, 117, 234);
          }       

div#t{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(0, 51, 194);
  margin-top: 10px;
  box-shadow: 2px 2px 1px 0px;
  border-radius: 10px;
  border-radius: 4px;
  margin: 10px;
  text-align: left;    
  width:auto;
  color:white;
  display: flex;
  height: 500px;
  box-shadow: 0px 0px 5cap 0px rgb(0, 0, 0) ;
     }

div#f{
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  background-color: rgb(0, 51, 194);
  margin-top: 10px;
  text-align: center;  
  width: auto;
    }

div#menu{
  background-color: transparent;
  width: 190px;
  height: 190px;
  color: black;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  transition: 0.3s ease;
  column-gap: 20px;
  justify-content: normal;
  margin-bottom: 0px;
  font-size: 20px;
  margin-left: 0px;
       }

div#menus{
   background-color: transparent;
  width: 190px;
  height: 190px;
  color: black;
  align-content: center;
  border-radius: 20px;
  transition: 0.3s ease;
  column-gap: 20px;
  justify-content: start;
  margin-bottom: 0px;
  font-size: 20px;
  margin-left: 0px;
}

div#bur{
  background-color: aqua;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  background-color: rgb(26, 65, 243) ;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px rgb(0, 21, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  

    
}

div#bur:hover{
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
  transform: scale(1.03);
  background-color: rgb(255, 255, 255);
             }

div#bur:active{
  color: rgb(0, 0, 0);
  transition: 0.3s ease;
  transform: scale(1.03);
  background-color: rgb(255, 255, 255);
             }


a#span{
  background-color: transparent;
  width: 100%;
  background-color: rgb(0, 51, 194);
  color: white;
  border: 3px rgb(34, 25, 219) solid;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  transition: 0.3s ease;
  font-size: 20px;
  border: 0px;
    }


a#span:hover{
  color: black;
  transition: 0.3s ease;
  transform: scale(1.03);
  background-color: aqua;
             }

i#burger{
  color:rgb(255, 255, 255);
  background-color: rgb(0, 51, 194); 
  margin-top: 0px;
  width: auto; 
  display: block;
  text-align: center;
  cursor: pointer;  
  padding: 15px;
  box-shadow: 2px 2px 2px black;
        }




  
menu{
  display: none;
    }

menu#itens{
  margin: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px;
}

menu > ul{
  list-style-type:none;
  padding: 0px;
}


div#tt{
  width: auto;
  display: block;
}

 
div#menu:hover{
  color: black;
  transition: 0.3s ease;
  transform: scale(1.03);
             }

div#tv:hover{
  background-color: rgba(0, 255, 255, 0.714);
  color: black;
  transition: 0.3s ease;
  transform: scale(1.03);
  border: 2px aqua solid;
            }
    
img#menu{
  width: 190px; height: 190px; 
        }

p#fff{
  color: rgb(21, 117, 234) ;
  box-shadow: 2px 0px 0px red;
     }

.container{
  
  max-width: 100vw;
  width: 100%;
  max-width: 410px;
  background-color: rgb(255, 255, 255);
  align-items: center; 
  justify-items: end;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 200px;
  grid-template-columns: 220px 220px;
  gap: 1px;
  row-gap: 7px;
         }

.dadcont{
  justify-content: center; 
  display: flex;
}

.box {
  width: 500px;
  height: 500px;
  
    }

img#size{
  height:150px;
  width: 175px;
  border-radius: 20px;
        }
    
p#size{
  align-items: center;
     }

img#fb{height: 50px;}
img#fa{height: 47px;}
img#fd{height: 56px;}


table{
  
  border-collapse: collapse;
  margin: 0 auto;
      }

table#legenda{width: 190px;}
       
td, th{
  border: 1px solid black;
  text-align: center;
  padding: 5px;
      }

th{color: white;}

thead, tfoot{
  background-color:rgb(21, 117, 234);
  color: black;}

div#voltar{ 
  background-image: linear-gradient(272deg, rgb(118, 255, 255), rgb(21, 117, 234));;
  width: 50px;
  height:20px;
  border: 3px black solid;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  transition: 0.3s ease;
  column-gap: 20px;
  justify-content: normal;
  margin-bottom: 0px;
  margin: 0 auto;
        }

div#voltar:hover{
  background-image: linear-gradient(272deg,rgb(21, 117, 234), rgb(118, 255, 255));
  color: white;
  transition: 0.3s ease;
  transform: scale(1.05);
                }


h2#ca{
  color: black;
  text-shadow: 3px ;
  text-decoration: aqua;
     }

img#ifp{
  width: 100px;
  height: 100px;
  align-items: start; 
  text-align: left;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: 20px;
      }

h1#top{
  margin-top: 0px;
  font-family: unset;
  margin-top: 50px;
  text-align: center;
      }

img#fa{
  height: 40px;
  width: 40px;
      }

img#vl{
  height: 40px;
  width: 40px;
  margin-top: 20px;
       }



hr#hh{
  color: black;
  background-color: black;
     }

div#dad{ 
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
       }

div#for{
  background-color: rgb(0, 51, 194);
  color: white;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.585);
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 0px 20px 0px 20px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align:center;
  align-items: center;
  padding-top: 20px;
        }

div#for>h1{
  margin-top: 10px;
  background-color:rgb(0, 51, 194);
  color: white;
  display: inline;
  border-radius: 10px 10px 10px 10px ;
  padding: 0px 10px 0px 10px;
}

div#n{
  width: auto;
  height: 250px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border:4px rgb(0, 51, 194) solid;
  background-color:rgba(0, 255, 255, 0.137);
  border-radius: 0px 10px 0px 10px;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.555);
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  
      }

div#n2{
  width: auto;
  height: 250px;
  margin: 10px 40px 10px 40px;
  border:4px rgb(0, 51, 194) solid;
  background-color:rgba(0, 255, 255, 0.137);
  border-radius: 0px 10px 0px 10px;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.555);
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:rgb(255, 255, 255);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
      }

          
div#n:hover{
  color: aqua;
  transition: 0.3s ease;
  transform: scale(1.03);
 background-color: rgb(255, 255, 255);
          }

div#n2:hover{
  color: aqua;
  transition: 0.3s ease;
  transform: scale(1.03);
 background-color: rgb(255, 255, 255);
          }

img#nn{
  width: 300px;
  height: 250px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  margin:20px;
      }

h3#n{
  background-color:rgb(0, 51, 194);
  border-radius: 10px 10px 10px 10px ;
  padding: 0px 10px 0px 10px;
  
  display:inline;
  margin: 0;
     }





h1#not{ 
  text-align: center;
  background-color: rgb(0, 51, 194);
  border-radius: 10px 10px 10px 10px;
      }

h1#rak{ 
  text-align: center;
  background-color: rgb(34, 25, 219);
  border-radius: 10px 10px 10px 10px;
  color: white;
       }

div#nn{
  background-color: rgba(0, 255, 255, 0.396);
  border:2px blue solid;
  border-radius: 0px 20px 0px 20px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
      }
        



div#table{
  
  max-width: 320px;
    }


i#sm{
 margin-right:5px ;
 margin-left:5px ;
 margin-bottom: 15px;
}

button{
 color: white;
 background-color: rgb(0, 51, 194);
 border-radius: 30px;
 border: 1px solid black;
 height: 30px;
 width: 100px;
 font-size: 20px;
 box-shadow: 2px 2px 0px 0px rgba(10, 10, 10, 0.759);
 justify-content: center;
 padding: 2px;
 margin-right:10px ;
 margin-left: 10px;
}



div#down{
  display: flex;
  justify-content: center;
  
}

i#qr{
 background-color:transparent;
 padding: 10px;
 width: 20px;
 border-radius: 20px;
 padding: 3px;
}

strong{
  color: red;
}

a#mais{
 color:white ;
 text-decoration: underline;
 padding-left: 10px;
 padding-right: 10px;

 
}

div#mais{
 display: flex;
 padding-left: 10px;
 padding-right: 10px;
 background-color: rgb(0, 51, 194) ;
 align-items: center;
 justify-content: center;

}

#menulateral {
  position: fixed;
  top: 0;
  left: -300px; 
  width: 300px;
  height: 100vh;
  background-color: rgb(0, 51, 194) ;
  color: white;
  transition: left 0.3s;
  z-index: 1000;
  width: 200px;
  box-shadow: 5px 0px 0px rgb(0, 0, 0);
  justify-content: center;
    
}

#menulateral.active {
  left: 0;
}

span#p{

justify-content: center;
color: white;
background-color: black;

}

p#p{
  margin-left: 40px;
  
  width: 120px;
  
}

ul#ml{
  list-style-type: none;
  margin-top: 0;
  padding-left: 0px;
  color: white;
    
}

li#burger1{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

li{
  margin: 0px 0px 20px 0px;
  padding: 10px ;
  border-radius: 15px;
  transition: .4s;
  
}

li:hover{
  background-color: rgb(0, 0, 0);
   }

i#ml{
  font-size: 30px;
  margin-right: 20px;
  color: white;
 }

a#ml{
  color: white;
  line-height: 40px;
  font-size: 20px;
  width: max-content;
  width: 100%;
  height: 100%;
  }

li a{
  width: 100%;
  height: 100%;
 }

li#tus:hover{
  background-color: transparent;
  margin-right: 30px;
 }

li#tus{
  
  margin-right: 30px;
 }


div#form2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

div#form2>p{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -10px;
  text-align: justify;
 }

img#nns{
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  margin:20px;
      }

div#notp{
  display: flex;
  justify-content: end;
  margin: 0;
}

p#not{
  color: black;
  padding: 0;
  margin: 0;
  margin-right: 50px;
 }










